<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<body>

    <h1> Lung sound classification</h1>
    <p style="font-family:Roboto; text-align: center; font-size: 18px; margin-top: -15px; margin-bottom: 60px;"> using Supervised, Semi-supervised and Unsupervised methods</p>


    <!-- For 5 sec audio  -->

    <div id="sec5" class="container"> 
        <p style="font-family: 'Roboto';">Select Model: </p>
        <div class="tab">
            <button class="tablinks" onclick="dumpLength(event, 'CNN2')" > CNN 2-Class </button>
            <button class="tablinks" onclick="dumpLength(event, 'CNN3')" > CNN 3-Class   </button>
            <button class="tablinks" onclick="dumpLength(event, 'GAN2')" > GAN 2-Class  </button>
            <button class="tablinks" onclick="dumpLength(event, 'GAN3')" > GAN 3-Class  </button>
            <button class="tablinks" onclick="dumpLength(event, 'SVM')" > 1-Class SVM  </button>

          </div>

          <br><br><br>

    </div>

    <div class="upload-tab">
        <form id="upload" method="post" enctype="multipart/form-data" style="display: flex; justify-content: center;">

            <input type = "file" name = "file" id="file" hidden/>
            <label id="choose" for="file"> Choose a lung sound </label> <br><br>

            <button class="button" type = "submit"> Upload </button>

            <!-- <input type="text" name="per_val"> -->
        </form>
    </div>

    <script>

        function dumpLength(evt, modelName) {
            
            var i, tablinks;
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            evt.currentTarget.className += " active";

            const myObj = {ModelName : modelName};
            const myJSON = JSON.stringify(myObj);  
            console.log(myJSON);

            const hidden_ip = document.getElementById("upload");
            console.log(hidden_ip);
            let file_len = hidden_ip.getElementsByClassName("hidden_field");
            
            if(file_len.length === 0){

                    file_len = document.createElement("input");
                    file_len.setAttribute("hidden", true);
                    file_len.setAttribute("value", modelName);
                    file_len.setAttribute("name", "model_name");
                    file_len.setAttribute("class", "hidden_field");

                    hidden_ip.appendChild(file_len);
            } 

            else{
                file_len[0].setAttribute("value", modelName);
            }
          

        }
    
    </script>
    
</body>

<div class="footer">
    <p style="text-align: center;">by</p>
    <p style="text-align: center;">Abhishek Manoharan | Arya Vinodan | Nithin M Warrier | Rahul Giridharan</p>
</div>


</html>