<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<body>

    <h1> Lung sound classification</h1>
    <p style="font-family:Roboto; text-align: center; font-size: 18px; margin-top: -15px; margin-bottom: 60px;"> using Semi and Unsupervised methods</p>


    <!-- For 5 sec audio  -->

    <div id="sec5" class="container"> 
        <p style="font-family: 'Roboto';">Select audio length: </p>
        <div class="tab">
            <button class="tablinks" onclick="dumpLength(event, 'fiveless')"><5 seconds</button>
            <button class="tablinks" onclick="dumpLength(event, 'five')">5 seconds</button>
            <button class="tablinks" onclick="dumpLength(event, 'fivegreat')">>5 seconds</button>
          </div>

          <br><br><br>

    </div>

    <div class="upload-tab">
        <form method="post" enctype="multipart/form-data" style="display: flex; justify-content: center;">
            <input type = "file" name = "file" id="file" hidden/>
            <label id="choose" for="file"> Choose a lung sound </label> <br><br>

            <button class="button" type = "submit"> Upload </button>
        </form>
    </div>

    <script>


        function dumpLength(evt, audioLength) {
            var i, tablinks;
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            evt.currentTarget.className += " active";

            const myObj = {length : audioLength};
            const myJSON = JSON.stringify(myObj);  
            console.log(myJSON);
            

        }
        

        
        // function readFile(files) {
        //         var fileReader = new FileReader();
        //             fileReader.readAsArrayBuffer(files[0]);
        //             fileReader.onload = function(e) {
        //                 console.log(("Filename: '" + files[0].name + "'"), ( "(" + ((Math.floor(files[0].size/1024/1024*100))/100) + " MB)" ));
        //             }
        //     }

    </script>
    
</body>

<div class="footer">
    <p style="text-align: center;">by</p>
    <p style="text-align: center;">Abhishek Manoharan | Arya Vinodan | Nithin M Warrier | Rahul Giridharan</p>
</div>


</html>